
/* ------------ Header styling ------------ */
/* imported font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* erase defualt margins/paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set body style*/
html, body{
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Header styling */
#topNavBar{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    text-align: center;
}

/* name/logo */
#topNavBar h1{
    font-weight: bold;
}

/* make "Hadjazi" font lighter */
#topNavBar h1 span{
    font-weight: lighter;
}

/* styling the link for name/logo */
#topNavBar h1 a{
    text-decoration: none;
    color: black;
}

/* navigation menue styling */
#topNavBar ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: 10px;
}

#topNavBar ul li{
    padding: 0.5rem;
    font-size: 0.8rem;
}

#topNavBar ul li a{
    text-decoration: none;
    color: black;
}

#topNavBar ul li a:hover{
    color: darkgray;
}

/* ------------ Main section ------------ */
@media only screen and (max-width: 600px) {
    section .container {
      flex-wrap: wrap;
    }
    .aboutMe p {
        padding-bottom: 40px;
    }
}
section .container {
    background-color: black;
    color: white;
    display: flex;
}

section .container .aboutMe .aboutMeTxt {
    padding-left: 1.5rem;
    padding-top: 40px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-top: 0;
}

section .container .aboutMe .prog h1, .photographer h1{
    padding-left: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
}
section .container .aboutMe p  {
    padding-left: 1.5rem;
    padding-right: 3rem;
    margin: 0;
    font-weight: 300;
}

section .container .photo img {
  width: 350px;
  height: auto;
  margin: 3rem;
}

/* ------------ footer styling ------------ */
/* ------------ social media links styling ---------- */
.social-menu {
    background-color: white;
}

.social-menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 14px;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

/* Vimeo hover over color */
.social-menu ul li:nth-child(1) a:hover {
    background-color: #1ab7ea;
}

/* Instagram hover over color */
.social-menu ul li:nth-child(2) a:hover {
    background-color: black;
}

/* Youtube hover over color */
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e62117;
}

/* ------------ copyright styling ---------- */
/* position */
.copyright {
    padding: 5px;
    font-size: 0.9375rem;
    background: #fff;
    text-align: center;
}
/* text color */
.copyright p{
    color: black;
}
